p
  | #{t(".hello_email", email: @resource.email)}
p = t(".someone_has_requested_a_link_to_change_your_password")
p = link_to t(".change_my_password"), edit_password_url(@resource, :reset_password_token => @resource.reset_password_token)
p = t(".if_you_didn_t_request_this")
p = t(".your_password_wont_change")
